.main-container {
  max-width: 355px;
  height: 689px;
  margin: 55px auto;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  display: flex;
}

.left-bar {
  background-color: #fbfbfb;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 12px; 
  border-bottom-left-radius: 12px; 
  }

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space-between,
.flex-column-grow-space-between {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 10px;
}

.flex-column-grow-space-between {
  flex-direction: column;
  flex-grow: 1;
}

.flex-column,
.flex-center,
.flex-column-100width {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
  padding: 10px;
}

.flex-center {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-100width {
  display: flex;
  width: 100%;
}

.flex-column-100width {
  width: 100%;
}

#right-link {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.flex-top-bottom {
  flex: 0 0 52;
}

.position-relative {
  position: relative;
}
