
block content
  .work-chat-area
    #right-link
      a.sign-link-light(href="/userProfile") profile
        svg(width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M0.580702 10.4714L6.12909 5.50732L0.580702 0.543274" stroke="#999999")
    |!{searchField}
    ul
      each chat in chatList
        |!{chat}
