extends /layouts/main.pug
block var
  - var title = '500 error'
  - var description = 'we are fixing it'
block content
  .flex-center
    h1 500
    p We are fixing it
    a(href="chats.html") back to chats