extends ../../components/form/form.pug

block content
  .position-relative
    | !{title}
    each field in fields
      | !{field}
  .flex-column
    | !{button}
    a(href="#").sign-link !{textLink}
