extends /layouts/main.pug
block var
  - var title = 'messenger chats'
  - var description = 'type you message'
block content
  .work-chat-area
    #right-link
      a.sign-link-light(href="/user_profile") profile
        svg(width="7", height="11", viewBox="0 0 7 11", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M0.580702 10.4714L6.12909 5.50732L0.580702 0.543274" stroke="#999999")
    form
      input(type="text", name="search", placeholder="游댌 search", id="chat-input")
    ul
      li.chat
        .chat-image
          img(src="/src/assets/chat_avatar.svg", alt="")
        .chat-message
          p.chats-name 햃햫햢햣햧
          p.chats-text 햊향쮏쐄햟햤햣햫햦햣
        .chat-info
          time.chats-time(datetime="10:49") 10:49
          div.unread-messeges 2
      li.chat
        .chat-image
          img(src="/src/assets/chat_avatar.svg", alt="")
        .chat-message
          p.chats-name 햣혝혪
          p.chats-text |
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa,
            saepe.
        .chat-info
          time.chats-time(datetime="10:49") 9:49
          div.unread-messeges 12
      li.chat
        .chat-image
          img(src="/src/assets/chat_avatar.svg", alt="")
        .chat-message
          p.chats-name 햐햟혣햟
          p.chats-text |
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam
            ad pariatur eos!
        .chat-info
          time.chats-time(datetime="10:49") 6:40
          div
      li.chat
        .chat-image
          img(src="/src/assets/chat_avatar.svg", alt="")
        .chat-message
          p.chats-name 햃햫햢햣햧
          p.chats-text 햊향쮏쐄햟햤햣햫햦햣
        .chat-info
          time.chats-time(datetime="10:49") 10:49
          div
      li.chat
        .chat-image
          img(src="/src/assets/chat_avatar.svg", alt="")
        .chat-message
          p.chats-name 햃햫햢햣햧
          p.chats-text 햊향쮏쐄햟햤햣햫햦햣
        .chat-info
          time.chats-time(datetime="10:49") 10:49
          div
      li.chat
        .chat-image
          img(src="/src/assets/chat_avatar.svg", alt="")
        .chat-message
          p.chats-name 햃햫햢햣햧
          p.chats-text 햊향쮏쐄햟햤햣햫햦햣
        .chat-info
          time.chats-time(datetime="10:49") 10:49
          div
      li.chat
        .chat-image
          img(src="/src/assets/chat_avatar.svg", alt="")
        .chat-message
          p.chats-name 햃햫햢햣햧
          p.chats-text 햊향쮏쐄햟햤햣햫햦햣
        .chat-info
          time.chats-time(datetime="10:49") 10:49
          div
