extends /layouts/main.pug
block var
  - var title = 'Sign in'
  - var description = 'Sign in to chat'
block content
  .main-container
    form.login-container
      div
        h1.header.title--lg Sign in
        label.input-label(for="login") Login
        input.input-text(type="text" id="login" autocomplete="name" placeholder="Vanya")
        label.input-label(for="password") Password
        input.input-text(type="password" id="password" autocomplete="current-password" placeholder="Password")
        h2(style="color: red;") test one

        
        h3(style='color: blue;') test two
      .flex-column
        button.sign-button.ax-button Sign In
        a.sign-link(href="/signup") Sign up