extends /layouts/main.pug
block var
  - var title = 'messenger | sign up'
  - var description = 'Sign up'
block content
  .main-container
    form.login-container
      div
        h1.header.title--lg Sign Up
        label.input-label(for="email") email
        input.input-text(type="text", id="email", autocomplete="email", placeholder="kirill@sukharev.ru")
        label.input-label(for="display_name") login
        input.input-text(type="text", id="display_name", autocomplete="username", placeholder="username")
        label.input-label(for="first_name") first_name
        input.input-text(type="text", id="first_name", autocomplete="name", placeholder="Vanya")
        label.input-label(for="second_name") second_name
        input.input-text(type="text", id="second_name", autocomplete="family-name", placeholder="Ivanov")
        label.input-label(for="phone") phone
        input.input-text(type="tel", id="phone", autocomplete="tel", placeholder="+7 (777) 777 77 77")
        label.input-label(for="password") Password
        input.input-text.password-mask(type="password", id="password", placeholder="Password", autocomplete="current-password")
        label.input-label(for="repeat_password") repeat password
        input.input-text.password-mask(type="password", id="repeat_password", placeholder="Password", autocomplete="current-password")
        p.sign-nm passwords do not match
      div
        button.sign-button.ax-button Sign Up
