extends /layouts/main.pug
block var
  - var title = 'messenger | profile'
  - var description = 'user profile edit page'
block content
  .work-area
    .left-bar
      a(href="#")
        img(src="/src/assets/back_arrow.svg", alt="Back Arrow")
    .flex-column-grow-space-between
      div
        #avatar
          a(href="#")
            img(src="/src/assets/avatar.svg", alt="Avatar")
        h1.header.title--lg Vanya
      div
        form
          .form-group
            label.profile-input-text(for="email") email
            input.profile-input-text.right-aligned-placeholder(type="text", id="email", autocomplete="email", placeholder="kirill@sukharev.ru")
          .form-group
            label.profile-input-text(for="display_name") login
            input.profile-input-text.right-aligned-placeholder(type="text", id="display_name", autocomplete="username", placeholder="username")
          .form-group
            label.profile-input-text(for="first_name") first_name
            input.profile-input-text.right-aligned-placeholder(type="text", id="first_name", autocomplete="name", placeholder="Vanya")
          .form-group
            label.profile-input-text(for="last_name") last_name
            input.profile-input-text.right-aligned-placeholder(type="text", id="last_name", autocomplete="family-name", placeholder="Ivanov")
          .form-group
            label.profile-input-text(for="nickname") nickname
            input.profile-input-text.right-aligned-placeholder(type="text", id="nickname", autocomplete="username", placeholder="Vanya")
          .form-group
            label.profile-input-text(for="phone") phone
            input.profile-input-text.right-aligned-placeholder(type="tel", id="phone", autocomplete="tel", placeholder="+7 (777) 777 77 77")
      div
        a.sign-link(href="#") change profile
        hr
        a.sign-link(href="#") change password
        hr
        a.sign-link-red(href="/") check out
